<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue-Todo</title>
</head>


<style>
[v-cloak] {
  display: none;
}

div {
    width: 500px;
    margin: 30px auto;
}
li {
    list-style: none
}

.isFinish {
    text-decoration: line-through;
    color: #cccccc;
}

</style>
<body>
    <div id="app" v-cloak>
        <input type="text" v-model="todo.content" @keydown.enter="addTodo" autofocus>
        <ul>
            <li v-for='(item,index) in todos' :key='index'>
                <input type="checkbox" @click='changeState(index)' :checked='item.isFinsh'>
                <span :class={isFinish:item.isFinish}>{{item.content}}</span>
                <button @click="delTodo(index)">删除</button>
            </li>
        </ul>
        <p v-if="todos.length == 0">暂无内容</p>
    </div>




<script src="./vue.min.js"></script>
<script>
    new Vue({
        el:'#app',
        data:{
            todo:{
                content:'',
                isFinish: false,
            },
            todos:[]
        },
        mounted() {
            if(localStorage.getItem('Todos')) {
                console.log(localStorage.getItem('Todos'))
                this.todos = JSON.parse(localStorage.getItem('Todos'))
                console.log(this.todos)
            }else {
                localStorage.setItem('Todos','')
            }
        },
        methods:{
            addTodo() {
                if(this.todo.content) {
                    this.todos.push(this.todo);
                    this.todo = {
                      content:'',
                      isFinish: false
                    }
                    
                }else {
                    alert("请输入 todo")
                }
                
            },
            changeState(index) {
                let curState = this.todos[index].isFinish;
                this.todos[index].isFinish = !curState;
            },
            delTodo(index) {
                this.todos.splice(index,1)
            }
        },
        updated(){
            let Todos = JSON.stringify(this.todos);
            if(localStorage.getItem('Todos')!= this.todos) {
                localStorage.setItem('Todos',Todos);
            }
        }
    })



</script>
</body>
</html>